.background{
  background-image: linear-gradient(135deg, #012c10 ,#282c34) ;
  height: 100vh;
}

.row{
  height: 100vh;
}

.inputDiv{
  padding: 10px;
  width: 80%;
}

.loginBtnDiv{
  padding: 10px;
}

.loginBtn{
  border-radius: 1;
  width: 10em;
}

.loginHeader{
  background: -webkit-linear-gradient(#012c10, #282c34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: linear-gradient(135deg, #012c10 ,#282c34)  ; */
}

.animScroller{
  /* background-color: #28362b; */
  background-color: #242624;
  /* background-image: linear-gradient(135deg, #A9A9A9 ,#282c34) ; */
  height: 20em;
  width: 40px;
  position: absolute;
  z-index: 1;
  bottom: -10px;
  right: 20px;
  border: #364a3a solid 1px;
  border-radius: 3px;
  box-shadow: "3px 7px";
}